#==================================
# Need Includes
#==================================
!*.meta

#==================================
# cocos creator
#==================================

#==================================
# build & temps
#==================================
cocos2d_libs.build/
libsimulator.build/
/prebuilt/
simulator/
[Bb]in/
library/
temp/
local/
publish/
res/
src/

#==================================
# Java & Python
#==================================
*.apk
*.pyc
*.class
*.class.dex

#==================================
# useless
#==================================
*.log
*.suo

#==================================
# useless
#==================================
.DS_Store
ehthumbs.db
Thumbs.db

#==================================
# Settings
#==================================
.idea/
.vscode/
*.vcxproj.user


#==================================
# Runtime
#==================================
node_modules/
